<!DOCTYPE html>
<html>
    <head>
        <title>Quick Chat</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/index.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    </head>
    <body>
        <h4 class="heading">QUICK TALK</h4>
        <div class="login-page">
            <div class="form">
                <div class="form-caption">{{.msg}}</div>
                <form id="form" method="POST" action="/chat/create" accept-charset="UTF-8" onsubmit="return send();">
                    <div class="chatname-wrapper">
                        <span>GO TO <span class="italic">quicktalk.me/</span> </span>
                        <input id="chatname" type="text" name="chatName" placeholder="<YOUR CHAT NAME>">
                    </div>
                    <div class="input-group">
                        <img id="key-logo" alt="key icon" src="/static/images/key.svg"/>
                        <input id="key" type="password" name="key" placeholder="KEY">
                    </div>
                    <button type="submit" id="btn-submit">Create</button>
                    {{ .csrfField }}
      
                
                
                </form>
            </div>
            <div class="user-wrapper">
                <img src="/static/images/profile.svg"/>
            </div>
            <div class="users-online">{{.NumberOfConnections}} users online</div>
        </div>
        <script type="text/javascript" src="/static/js/index.js"></script>
    </body>
</html>
