body {
  background-color: #141414;
  color: white;
  font-family: "Roboto";
}
.container {
  margin: auto 200px 100px 200px;
}
.chat-container {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 10px;
  background: #191919;
  border-radius: 6px;
  margin: 10px 0px;
}
.chat-text {
/*   border: 1px solid blue; */
}
.chat-datetime > .name, .chat-datetime > .time {
  display: inline-block;
  font-size: 15px;
  padding: 3px;
  background-color: rgba(56, 56, 56, 0.4);
  color: lightgray;
}
.chat-message {
  padding-top: 3px;
  font-size: 17px;
}
.avatar {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 6px;
  font-size: 23px;
  display: inline-block;
  margin-right: 10px;
}
.avatar span {
  position: relative;
  display: inline-block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}
.chat-input {
  border: 1px solid #222;
  position: fixed;
  width: 535px;
  background: inherit;
  padding-bottom: 10px;
  border-radius: 6px;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  text-align: center;
}
.chat-input > div {
  display: inline-block;
  padding: 10px;
}
.emoji-input {
  border: 1px solid gray;
}
.text-input {
/*   border: 1px solid red; */
/*   width: 80%; */
  position: relative;
  padding: 0px 10px;
}
.text-input textarea {
  height: 100%;
  width: 100%;
  background: inherit;
  border: none;
  border-bottom: 3px solid #555;
  color: white;
  font-size: 16px;
  padding: 5px 0px;
  font-family: "Roboto";
  letter-spacing: .07rem;
  width: 100%;
  display: inline-block;
  resize: vertical;
  outline: none;
  max-height: 70px;
  margin-top: .4rem;
}
.text-input textarea::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #333;
}

.text-input textarea::-webkit-scrollbar
{
  width: 10px;
  background-color: #333;
}

.text-input textarea::-webkit-scrollbar-thumb
{
  background-color: white;
  border: 2px solid #555555;
}
.text-input textarea:focus,.text-input textarea:active, .text-input textarea:hover {
  outline: none;
}
.emoji-picker-icon {
  color: white;
  font-size: 20px;
  
}
.emoji-menu {
  transform: translate(100%, -120%);
}
.btn-send {
  cursor: pointer;
  position: relative;
  top: -10px;
  left: -15px;
}
.notification {
  border: 1px solid inherit;
  display: inline;
  position: fixed;
  top: -110%;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 10px;
  border-radius: 5px;
  font-size: .8rem;
  transition: top 300ms ease-in;
  z-index: 100;
}
.notification.show {
  top: 10px;
}
@media screen and (max-width: 850px) {
  .container {
    margin: 0px;
    padding-bottom: 80px;
  }
  .chat-input {
    width: 100%;
  }
  .text-input textarea {
    width: 80%;
  }
  .text-input, .btn-send {
    display: inline !important;
  }
}